# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Configurações locais do Cypress
cypress.env.json

# Diretório de resultados dos testes (caso configurado no Cypress)
results/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs e editores
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Logs de execução
*.log
